In [ ]:
my_list = ["apple","banana","cherry"]
my_tuple = ("apple","banana","cherry")
my_dict = {"naji":"active","rob":"inactive","johb": ""}
my_string = "Python"
my_nested_list = [["apple", "banana", "cherry"], [1,2,3]]

## Sequence Example

In [ ]:
my_list[0]

'apple'

In [ ]:
my_tuple[0]

'apple'

In [ ]:
list(my_dict.items())[0]

('naji', 'active')

## For Loop - (list, tuple, dict , string )

In [ ]:
for f in my_list:
  print(f)

apple
banana
cherry

In [ ]:
for f in my_tuple:
  print(f)

apple
banana
cherry

In [ ]:
for s in my_string:
  print(s)

P
y
t
h
o
n

In [ ]:
for key,value in my_dict.items():
  print(f"key: {key}, value: {value}")

key: naji, value: active
key: rob, value: inactive
key: johb, value:

## For Loop - range

In [ ]:
for r in range(0, 10):
  print(r)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for r in range(0, 10, 3):
  print(r)

0
3
6
9

## For Loop - break

In [ ]:
for i in range(0,10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

## For Loop - continue

In [ ]:
for i in range(1, 10):
  if i%2 == 0:
    continue
  print(i)

1
3
5
7
9

## For Loop - Else

In [ ]:
for i in range(1, 5):
  print(i)
else:
  print("completed the loop")

1
2
3
4
completed the loop

In [ ]:
for i in range(1, 5):
  if i == 2:
    break
  print(i)
else:
  print("completed the loop")

1

## For Loop - Enumerate

In [ ]:
my_list

['apple', 'banana', 'cherry']

In [ ]:
for index, fruit in enumerate(my_list):
  print(f"index: {index}, fruit : {fruit}")

index: 0, fruit : apple
index: 1, fruit : banana
index: 2, fruit : cherry

## For Loop - Pass

In [ ]:
for i in range(1, 10):
  pass

## For Nested Loop

In [ ]:
my_nested_list

[['apple', 'banana', 'cherry'], [1, 2, 3]]

In [ ]:
for i in my_nested_list:
  print(f"i is {i}")
  for j in i:
    print(j)

i is ['apple', 'banana', 'cherry']
apple
banana
cherry
i is [1, 2, 3]
1
2
3